@charset "UTF-8";
:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --accent-cl: #2196f3;
  --btn-txt-cl: #ffffff;
  --btn-cl: #188ce8;
  --dark-cl: #000000;
  --light-cl: #ffffff;
  /* others */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* width: 480px;
  margin: 0 auto;
  padding: 0 15px; */
}

.menu {
  display: none;
  /* активна сторінка */
}
.menu__nav {
  margin-right: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
  color: var(--dark-cl);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-cl);
}
.menu .current-page {
  color: var(--accent-cl);
}
.menu .current-page::after {
  content: "";
  position: relative;
  top: 28px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  outline: solid red;
}

.accent {
  color: var(--dark-cl);
}

.accent-ft {
  color: var(--light-cl);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
  cursor: pointer;
}
.button:hover, .button:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}

.button-action {
  max-width: 250px;
  height: 50px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--btn-txt-cl);
  background-color: var(--accent-cl);
  cursor: pointer;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.button-action:hover, .button-action:focus {
  background-color: var(--btn-cl);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  color: var(--title-txt-cl);
  background-color: #f5f4fa;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.button-filter:hover, .button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* активна кнопка */
.current-item {
  color: #ffffff;
  background-color: var(--accent-cl);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}
.overlay-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  /* or 156% */
  letter-spacing: 0.03em;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.socials__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition: background-color var(--anim), fill var(--anim);
  transition: background-color var(--anim), fill var(--anim);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-cl);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* display: flex;align-items: center;justify-content: center; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* властивості за змовчуванням */
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--anim), visibility var(--anim);
  transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity var(--anim) 250ms, -webkit-transform var(--anim) 250ms;
  transition: opacity var(--anim) 250ms, -webkit-transform var(--anim) 250ms;
  transition: transform var(--anim) 250ms, opacity var(--anim) 250ms;
  transition: transform var(--anim) 250ms, opacity var(--anim) 250ms, -webkit-transform var(--anim) 250ms;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal-btn-icon:focus, .modal-btn-icon:hover {
  fill: var(--accent-cl);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.register-form {
  text-align: center;
}
.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.register-form__group {
  margin-bottom: 10px;
}
.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}
.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.register-form__input, .register-form__message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  padding-left: 50px;
  border-radius: 4px;
  outline: transparent;
}
.register-form__message {
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  resize: none;
  -webkit-transition-property: baborder-color;
  transition-property: baborder-color;
  -webkit-transition: border var(--anim);
  transition: border var(--anim);
}
.register-form__item {
  position: relative;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
.register-form__item:hover .register-form__input, .register-form__item:focus-within .register-form__input {
  border-color: var(--accent-cl);
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
  cursor: pointer;
}
.register-form__item:hover .register-form__icon, .register-form__item:focus-within .register-form__icon {
  fill: var(--accent-cl);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
  cursor: pointer;
}
.register-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.register-form__message:focus, .register-form__message:hover {
  border: 1px solid var(--accent-cl);
  background-color: transparent;
  cursor: pointer;
}
.register-form__agreement {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}
.register-form .register-icon-uncheck,
.register-form .register-icon-check {
  width: 16px;
  height: 15px;
}
.register-form .register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}
.register-form .register-icon-check {
  opacity: 0;
  fill: var(--accent-cl);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.register-form .register-icon-check:focus,
.register-form .register-icon-check:hover {
  fill: var(--accent-cl);
  cursor: pointer;
}
.register-form .register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}
.register-form__agreement-text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}
.register-form__agreement-link {
  color: var(--accent-cl);
}
.register-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.register-form__btn:focus, .register-form__btn:hover {
  background-color: var(--btn-cl);
  cursor: pointer;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.form__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form__subsc {
  width: 450px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  background-color: var(--accent-cl);
  cursor: pointer;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.form__button-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.form__button__icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.form__button:hover, .form__button:focus {
  background-color: var(--btn-cl);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__button {
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.header__button:hover {
  fill: var(--accent-cl);
  cursor: pointer;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-480@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-480@1x.jpg);
  background-size: cover;
  padding: 118px 60px;
}
.hero__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.hero__title {
  width: 360px;
  margin: auto;
  /*   font-family: var(--main-font); */
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feature__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.feature__item {
  display: block;
}
.feature__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  color: #303030;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-txt-cl);
}
.feature__txt {
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.job {
  display: none;
}
.job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}
.job__item {
  position: relative;
}
.job__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}
.job__txt {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 23.8095238095%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-cl);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: -30px;
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}
.team__list {
  /*  display: flex;
  flex-wrap: wrap;
  gap: 30px;*/
}
.team__item {
  margin-bottom: 30px;
  margin-bottom: false;
}
.team__wrapper {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 5px;
  padding-right: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__hd {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-txt-cl);
}
.team__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--main-txt-cl);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition: border var(--anim), fill var(--anim);
  transition: border var(--anim), fill var(--anim);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio__dsc {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.03em;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.portfolio__img {
  width: 370px;
  height: 294px;
}
.portfolio__div {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
}
.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-txt-cl);
}
.portfolio__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-txt-cl);
}
.portfolio__item {
  border-radius: 4px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.portfolio__item:hover, .portfolio__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:focus .overlay, .portfolio__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mail {
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
  margin-right: 30px;
}
.mail:hover, .mail:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.mail-icon {
  margin-right: 10px;
  color: var(--main-txt-cl);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.mail-icon:hover, .mail-icon:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.phone {
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.phone:hover, .phone:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.phone-icon {
  margin-right: 10px;
  color: var(--main-txt-cl);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.phone-icon:hover, .phone-icon:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.header__mail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.header__mail:hover, .header__mail:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.header__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.header__phone:hover, .header__phone:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container {
  width: 480px;
  outline: solid red;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 154px;
  margin-bottom: 20px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__address {
  color: #ffffff;
}
.footer__socials {
  margin-top: 20px;
  color: #ffffff;
}
.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.contacts-address {
  font-style: normal;
}

/*.label-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 7px;
    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: #757575;
        user-select: none;
        text-underline-position: under;
    }
    &__text--link {
        color: var(--acent-color);
    }
}

.icon-check {
    opacity: 0;
    transition: opasity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}*//*# sourceMappingURL=main.css.map */