.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border, fill;
    transition: background-color var(--anim), fill var(--anim);
    &:hover,
    &:focus {
        fill: var(--accent-cl);
        border: 1px solid var(--accent-cl);
    }
}