.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-txt-cl);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 92px;
        fill: #afb1b8;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        transition-property: border, fill;
        transition: border var(--anim), fill var(--anim);
        &:hover,
        &:focus {
            fill: var(--accent-cl);
            border: 1px solid var(--accent-cl);
        }
    }
}