.mail {
    transition: color var(--anim);
    margin-right: 30px;
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}

.mail-icon {
    margin-right: 10px;
    color: var(--main-txt-cl);
    transition-property: fill;
    transition: fill var(--anim);
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}

.phone {
    transition: color var(--anim);
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}

.phone-icon {
    margin-right: 10px;
    color: var(--main-txt-cl);
    transition-property: fill;
    transition: fill var(--anim);
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}

.header__mail {
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    transition: color var(--anim);
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}

.header__phone {
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    transition: color var(--anim);
    &:hover,
    &:focus {
        color: var(--accent-cl);
        fill: var(--accent-cl);
    }
}