.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {}
    &__list {
        align-items: center;
        gap: 30px;
    }
    &__item {
        display: block;
    }
    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 120px;
        color: #303030;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-txt-cl);
    }
    &__txt {
        width: 450px;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    }
}