.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    &__container {
        display: flex;
        gap: 30px;
        align-items: baseline;
        justify-content: center;
    }
    &__logo {
        display: block;
        width: 145px;
    }
    &__item {
        margin-top: 10px;
    }
    &__contact {
        color: rgba(255, 255, 255, 0.6);
    }
    &__address {
        color: #ffffff;
    }
    &__link {
        background-color: rgba(255, 255, 255, 0.1);
        fill: #ffffff;
    }
    &__socials {
        color: #ffffff;
    }
    &__form {
        margin-left: auto;
    }
}

.contacts-address {
    font-style: normal;
}