.header {
    border-bottom: 1px solid #ececec;
    &__container {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__button {
        margin-left: auto;
        background-color: transparent;
        border: none;
        &:hover {
            fill: var(--accent-cl);
            cursor: pointer;
        }
    }
}