.hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-480@1x.jpg);
    background-size: cover;
    padding: 118px 60px;
    &__container {
        align-items: center;
        text-align: center;
    }
    &__title {
        width: 360px;
        margin: auto;
        /*   font-family: var(--main-font); */
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        letter-spacing: 0.06em;
        color: #ffffff;
        text-transform: uppercase;
    }
}