.job__list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}

.job__item {
    position: relative;
}

.job__title,
.team__title,
.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.job__txt {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(70*100% / 294);
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: #ffffff;
}