.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__dsc {
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        border-top: none;
        padding: 20px 24px;
    }
    &__list {
        display: flex;
        letter-spacing: 0.03em;
        transition-property: box-shadow;
        transition: box-shadow var(--anim);
    }
    &__img {
        width: 370px;
        height: 294px;
    }
    &__div {
        position: relative;
        overflow: hidden;
        transition: box-shadow;
    }
    &__title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        color: var(--title-txt-cl);
    }
    &__txt {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30 / 16);
        color: var(--main-txt-cl);
    }
    &__item {
        border-radius: 4px;
        transition-property: box-shadow;
        transition: box-shadow var(--anim);
        &:hover,
        &:focus {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        &:focus .overlay,
        &:hover .overlay {
            transform: translateY(0);
        }
    }
}