.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    &__header {
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        fill: #afb1b8;
        background-color: #ffffff;
        border-radius: 50%;
        transition-property: background-color, fill;
        transition: background-color var(--anim), fill var(--anim);
        &:hover,
        &:focus {
            background-color: var(--accent-cl);
            fill: #ffffff;
        }
    }
}